---
eleventyExcludeFromCollections: true
title: "CV"
description: "Curriculum vitae"
cover: /public/img/me.jpg
---

doctype html
html(lang='en')
  head
    include /head.pug

    //- Styles
    link(rel='stylesheet' href='/public/styles/cv.css')
    link(rel='stylesheet' href='/public/styles/posts.css')
    link(rel='stylesheet' href='/public/styles/projects.css')
  body
    include /header.pug

    main
      section#about
        h2 Curriculum vitae
        p Throughout my 10+ years of experience in Information Technology, I've tried everything from compiling COFF after LLVM lowering to designing a resilient ultra-scalable fleet of FAAS workers. Everything from Substrate and IPFS to event-driven stock price prediction.
        p Once a technology is understood by me, it becomes boring. It is like surfing on the waves of technology trends, on the surface of the greatest whirlpool of singularity. By understanding I mean not entirely known, e.g. all quirks of the hell-born Rust code, no. Understanding means fundamental, decomposed knowledge enough to build a solution at any scale.
        p For me, it is not about thoroughly learning API of yet another web framework, it is instead getting hands on the set of tooling a technology offers, so that I may choose the best framework suitable for the problem. If I were to compile my 10+ years of experience into one line, that would be the following:
        big Right tooling is paramount.
        p In the very end what I really want is to exercise human love at its fullness. No technology brings me closer to that desire. My extra-wide experience does, though. I am currently available for short-term projects and/or consultancy services; almost any stack. Find my contacts in the header.
        p Sincerely,<br>Vlad.

      section#posts
        h2 Recent blog posts
        include /posts.pug

      section#projects
        h2 Project list
        include /projects.pug

    include /footer.pug
