---
eleventyExcludeFromCollections: true
title: "CV"
description: "Curriculum vitae"
cover: /public/img/me.jpg
---

doctype html
html(lang='en')
  head
    include /head.pug

    //- Styles
    link(rel='stylesheet' href='/public/styles/cv.css')
    link(rel='stylesheet' href='/public/styles/posts.css')
    link(rel='stylesheet' href='/public/styles/projects.css')
  body
    include /header.pug

    main
      section#about
        h2 Curriculum vitae
        p Throughout my 10+ years of experience in Information Technology, I've tried everything from compiling COFF after LLIR lowering to designing a resilient ultra-scalable fleet of FAAS workers, from Substrate and IPFS to event-driven stock price prediction.
        p Comprehending a technology is like surfing on the waves of technology trends, on the surface of the greatest whirlpool of singularity. Comprehension means fundamental, decomposed knowledge enough to build a solution at any scale.
        p For me, it is not about thoroughly learning API of yet another web framework, it is instead getting hands on the set of tooling a technology offers, so that I may choose the best framework suitable for the problem. If I were to compile my 10+ years of experience into one line, that would be the following:
        big Right tooling is paramount.
        p
          | Here is an incomplete list of technologies I've had experience with, in the order of  encounter, starting back at 2013: Pascal,&nbsp;
          a(href="https://wc3modding.info/pages/vjass-documentation/") vJass
          | , cJass, C, C++, Java, git,&nbsp;
          a(href="https://libgdx.com/") LibGDX
          | , PHP,&nbsp;
          a(href="https://unity.com/") Unity
          | , C#, Ruby, Telegram bots, Heroku,&nbsp;
          a(href="https://dokku.com/") Dokku
          | , SQLite, PostgreSQL, Redis, Docker, JavaScript, Gulp, Grunt, Ruby On Rails,&nbsp;
          a(href="https://hanamirb.org/") Hanami
          | ,&nbsp;
          a(href="https://roda.jeremyevans.net/") Roda
          | , &nbsp;
          a(href="https://sequel.jeremyevans.net/") Sequel
          | ,&nbsp;
          a(href="https://crystal-lang.org/") Crystal
          | , LLVM, Kubernetes,&nbsp;
          a(href="https://firecracker-microvm.github.io/") Firecracker
          | ,&nbsp;
          a(href="http://www.tinycorelinux.net/") Tiny Core Linux
          | ,&nbsp;
          a(href="https://buildpacks.io/") buildpacks.io
          | , compiler development, machine learning, Tensorflow, VueJS, TypeScript,&nbsp;
          a(href="https://deno.land/") Deno
          | ,&nbsp;
          a(href="https://ziglang.org/") Zig
          | ,&nbsp;
          a(href="https://en.wikipedia.org/wiki/Parsing_expression_grammar") PEG
          | , Rust, EVM, Solidity,&nbsp;
          a(href="https://substrate.io/") Substrate
          | , IPFS, ZKP, ChatGPT...
        p My previous experience includes:
        ul(style="align-self: start;")
          li
            | 2013: Self-employed.
          li
            | 2021: Senior Crystal (backend) developer at
            |
            a(href="https://brightsec.com/") NeuraLegion
            | .
          li
            | 2022: Technical Due Diligence Trainee at
            |
            a(href="https://byzantine.solutions/")  Byzantine.Solutions
            | .
        p
          | At the moment, my best stack is AI, Typescript, VueJS, NodeJS, tRPC and Zod.
          | I extensively use
          |
          a(href="https://github.com/features/copilot") GitHub Copilot
          |
          | for code generation.
        p
          | See my blog posts and projects below, check my
          |
          a(href="https://github.com/vladfaust") GitHub profile
          | , find my contacts in the header, and feel free to reach out.
        p Sincerely,<br>Vlad.

      section#posts
        h2 Recent blog posts
        include /posts.pug

      section#projects
        h2 Project list
        include /projects.pug

    include /footer.pug
