---
eleventyExcludeFromCollections: true
title: "Vlad Faust"
titleNoAppend: true
description: "My personal website"
cover: /public/img/me.jpg
---

doctype html
html(lang='en')
  head
    include /head.pug

    //- Styles
    link(rel='stylesheet' href='/public/styles/index.css')
    link(rel='stylesheet' href='/public/styles/posts.css')
    link(rel='stylesheet' href='/public/styles/projects.css')
  body
    include /header.pug

    main
      section#posts
        h2 Recent blog posts
        include /posts.pug

      section#projects
        h2 Project list
        include /projects.pug

    include /footer.pug
