---
eleventyExcludeFromCollections: true
title: "Vlad Faust Blog"
titleNoAppend: true
description: "Vlad Faust's personal blog"
cover: /public/img/me.jpg
---

doctype html
html(lang='en')
  head
    include /head.pug

    //- Styles
    link(rel='stylesheet', href='/public/styles/index.css')
  body
    include /header.pug

    main
      h2 Articles
      ul.posts
        each post in collections.post.reverse().filter((post) => !post.data.hidden)
          li
            span.date= post.date.toDateString()
            a.title(href=post.url)= post.data.title

      h2 Notes
      ul.notes
        each note in collections.note.reverse().filter((note) => !note.data.hidden)
          li
            span.date= note.date.toDateString()
            a.title(href=note.url)= note.data.title

    include /footer.pug
