---
eleventyExcludeFromCollections: true
pagination:
  data: collections.all
  size: 2
---

doctype html
html(lang='en')
  head
    include /head.pug

    //- Styles
    link(rel='stylesheet', href='/public/styles/index.css')
  body
    include /header.pug

    main
      h2 Recent posts
      ul.posts
        each post in collections.all.reverse().filter((post) => !post.data.hidden)
          li
            span.date= post.date.toDateString()
            a.title(href=post.url)= post.data.title

    include /footer.pug
