header
  a.me(href="/")
    img(src='/public/img/me.jpg')
  div.text
    p
      | Hello, my name is&nbsp;
      a(href='/') Vlad Faust
      | .
    p.tablet-hide
      | I'm a passionate developer currently working on&nbsp;
      a(href='/posts/2020-08-20-the-onyx-programming-language') my own programming language
      | .
    p.tablet-hide
      | You can follow me on&nbsp;
      a(href='https://twitter.com/vladfaust') Twitter
      |  and&nbsp;
      a(href='https://github.com/vladfaust') GitHub
      |  and also send nudes to mail at vladfaust.com
