header
  a.me(href="/")
    img(src='/public/img/me.jpg')
  div.text
    p
      | Hello, my name is&nbsp;
      a(href='/') Vlad Faust
      | .
    p.tablet-hide
      | I am a jack of anything IT, master of some; see my&nbsp;
      a(href='/cv') CV
      | .
    p.tablet-hide
      | You can contact me via&nbsp;
      a(href='https://x.com/vladfaust') ğ•
      | ,&nbsp;
      a(href='https://github.com/vladfaust') GitHub
      |  or&nbsp;
      a(href='https://t.me/vladfaust') Telegram
      | , or e-mail me directly at&nbsp;
      i hey at vladfaust.com
      | .
