h3 Singularity tech (2022-present)
small.annotation
  | Behold, the Deus ex Machina blooms, like a lotus from the murky depths.

ul.projects
  li.project-card
    a.title(href="https://beta.aistories.xyz") AIStories
    p.desc
      | A platform to relive memories with AI characters.
    div.stack
      span AI
  li.project-card
    a.title(href="https://github.com/offchaincafe/evm") Offchain Café EVM
    p.desc
      | A self-hosted indexing service for Ethereum blockchain.
    div.stack
      span Open source
      span Crypto
      span EVM
  li.project-card
    a.title(href="https://github.com/nxsf/ipnft") IPNFT
    p.desc
      | An on-chain, digital proof of authorship for an IPFS CID, tailored to existing NFT standards.
    div.stack
      span Open source
      span Crypto
      span IPFS
      span EVM
  li.project-card
    a.title(href="https://github.com/fancysofthq/contracts") Fancy Contracts
    p.desc
      | A collection of EVM smart contracts for the Fancy Software apps ecosystem.
    div.stack
      span Open source
      span Crypto
      span EVM

h3 Onyx, the language (2020-2022)
small.annotation
  | Onyx is a novel programming language I'was working on.

ul.projects
  li.project-card
    a.title(href="https://nxsf.org") NXSF.org
    p.desc
      | The Onyx Software Foundation website (
      a(href="https://github.com/nxsf/nxsf.github.io") source
      | ).
    div.stack
      span Open source

  li.project-card
    a.title(href="https://nxsf.org/onyx/") Onyx standard
    p.desc
      | An attempt to standardize the Onyx language (
      a(href="https://github.com/nxsf/onyx") source
      | ).
    div.stack
      span Open source

  li.project-card
    a.title(href="https://github.com/onyxlang/rs") Onyx in Rust
    p.desc An attempt to implement an Onyx language compiler in Rust.
    div.stack
      span Open source
      span Rust

  li.project-card
    a.title(href="https://github.com/onyxlang/ts") Onyx in Typescript
    p.desc An attempt to implement an Onyx language compiler in TypeScript + Zig.
    div.stack
      span Open source
      span Zig
      span TypeScript

h3 Crystal-related projects (2018-2020)
small.annotation
  a(href="https://crystal-lang.org") Crystal
  |  is a Ruby-inspired programming language, but compiled.

ul.projects
  li.project-card
    span.title
      a(href="https://onyxframework.com/") Onyx framework
      |  (2020)
    p.desc
      | A web framework with&nbsp;
      a(href="https://github.com/onyxframework/http") HTTP
      | ,&nbsp;
      a(href="https://github.com/onyxframework/sql") SQL ORM
      |  and&nbsp;
      a(href="https://github.com/onyxframework/eda") EDA
      |  modules, fancy website and rich documentation.
    div.stack
      span Open source
      span Product design
      span Crystal
      span SQL
      span HTTP
      span Event-driven architecture
      span VueJS
      span SASS

  li.project-card
    span.title
      a(href="https://github.com/crystaljobs") Crystal Jobs
      |  (2018)
    p.desc
      | A now defunct Crystal jobs board (
      a(href="https://crystaljobs-staging.netlify.app/") frontend preview
      | ).
    div.stack
      span Open source
      span Product design
      span Crystal
      span VueJS
      span SASS

  li.project-card
    span.title
      a(href="https://github.com/vladfaust/crystalworld") CrystalWorld
      |  (2019)
    p.desc
      | A&nbsp;
      a(href="https://github.com/gothinkster/realworld") RealWorld
      |  implementation in Crystal and Onyx the web framework.
    div.stack
      span Open source
      span Crystal
      span SQLite

h4 Crystal shards (2018-2020)
small.annotation
  | A&nbsp;
  i shard
  |  is a Crystal code package.

ul.projects
  li.project-card
    a.title(href="https://github.com/vladfaust/time_format.cr") TimeFormat
    p.desc Time spans formatting made simple.
    div.stack
      span Open source
      span Crystal

  li.project-card
    a.title(href="https://github.com/vladfaust/i18n.cr") I18n
    p.desc Internationalization shard.
    div.stack
      span Open source
      span Crystal

  li.project-card
    a.title(href="https://github.com/vladfaust/http-multiserver.cr") HTTP::Multiserver
    p.desc Mount multiple web applications.
    div.stack
      span Open source
      span Crystal
      span HTTP

  li.project-card
    a.title(href="https://github.com/vladfaust/tarantool.cr") Tarantool
    p.desc
      | A&nbsp;
      a(href="https://www.tarantool.io/ru/") Tarantool
      |  database driver.
    div.stack
      span Open source
      span Crystal
      span TCP

  li.project-card
    a.title(href="https://github.com/vladfaust/cake-bake") Cake-Bake
    p.desc Bake Cakefile into native Crystal code.
    div.stack
      span Open source
      span Crystal

  li.project-card
    a.title(href="https://github.com/vladfaust/callbacks.cr") Callbacks
    p.desc Expressive callbacks module.
    div.stack
      span Open source
      span Crystal

  li.project-card
    a.title(href="https://github.com/vladfaust/validations.cr") Validations
    p.desc Validations module.
    div.stack
      span Open source
      span Crystal

  li.project-card
    a.title(href="https://github.com/vladfaust/mini_redis") MiniRedis
    p.desc A light-weight low-level Redis client.
    div.stack
      span Open source
      span Crystal
      span TCP

  li.project-card
    a.title(href="https://github.com/vladfaust/http-params-serializable") HTTP::Params::Serializable
    p.desc The HTTP params parsing module.
    div.stack
      span Open source
      span Crystal

  li.project-card
    a.title(href="https://github.com/vladfaust/migrate.cr") Migrate
    p.desc A database migration solution.
    div.stack
      span Open source
      span Crystal
      span SQL

  li.project-card
    a.title(href="https://github.com/vladfaust/stripe.cr") Stripe
    p.desc Stripe API wrapper.
    div.stack
      span Open source
      span Crystal
      span API wrapper

  li.project-card
    a.title(href="https://github.com/vladfaust/tele.cr") Tele
    p.desc A convenient Telegram Bot framework.
    div.stack
      span Open source
      span Crystal
      span Telegram bot

  li.project-card
    a.title(href="https://github.com/vladfaust/tele-broadcast.cr") Tele::Broadcast
    p.desc Broadcasting for Tele.
    div.stack
      span Open source
      span Crystal
      span Telegram bot
      span Redis

h3 Ruby gems (2015-2017)
ul.projects
  li.project-card
    a.title(href="https://github.com/vladfaust/jbuilder-json_api") Jbuilder::JsonApi
    p.desc Jbuilder meets jsonapi.org specifications.
    div.stack
      span Open source
      span Ruby

  li.project-card
    a.title(href="https://github.com/vladfaust/asset_pipeline") AssetPipeline
    p.desc Add Sprockets based Asset Pipeline to your Ruby applications.
    div.stack
      span Open source
      span Ruby on Rails

  li.project-card
    a.title(href="https://github.com/vladfaust/bitcoinpay-client") Bitcoinpay
    p.desc Bitcoinpay.com API client for Ruby.
    div.stack
      span Open source
      span Ruby
      span API wrapper
      span Crypto

  li.project-card
    a.title(href="https://github.com/vladfaust/blockchain-api") Blockchain::Api
    p.desc A blockchain.info API wrapper.
    div.stack
      span Open source
      span Ruby
      span API wrapper
      span Crypto

h3 Other projects
ul.projects
  li.project-card(style="background-image:url(/public/img/projects/jumpin_sweeties.png); background-repeat: no-repeat; background-position-x: calc(100% + 5rem); background-size: 15rem;")
    span.title
      a(href="https://xgm.guru/p/sweeties") Jumpin Sweeties
      |  (2015)
    p.desc A casual mobile game.
    div.stack
      span GameDev
      span Java
      span LibGDX

  li.project-card
    span.title
      a(href="https://parrotfarm.herokuapp.com/") Parrot Farm
      |  (2016)
    p.desc
      | A showcase project to demonstrate my skills at those times
      small , hosted on Heroku.
    div.stack
      span Open source
      span Ruby on Rails
      span AngularJS

  li.project-card
    span.title
      a(href="https://nostalgic-hopper-8a1414.netlify.app/") Coinpricebet
      |  (2018)
    p.desc
      | A Stellar-based betting on crypto coin prices, also&nbsp;
      a(href="https://loving-mahavira-537556.netlify.app/") this
      |  version.
    div.stack
      span Product design
      span Crypto
      span VueJS

  li.project-card
    span.title
      a(href="https://heuristic-wozniak-28f7b6.netlify.app/") AssetFD
      |  (2018)
    p.desc An unfinished decentralized exchange interface based on Stellar.
    div.stack
      span Crypto
      span VueJS

  li.project-card
    span.title
      a(href="https://github.com/soundmemes") Soundmemes Bot
      |  (2016-2018)
    p.desc A now defunct Telegram bot to post sound memes in chats.
    div.stack
      span Open source
      span Product design
      span Telegram bot
      span Ruby
      span Crystal
      span PostgreSQL
      span Redis

  li.project-card
    span.title
      a(href="https://telegra.ph/CashbackBot-09-16") Cashback Bot
      |  (2017)
    p.desc A now defunct Telegram bot to earn cashback from purchases.
    div.stack
      span Product design
      span Telegram bot
      span Ruby
      span GraphQL
      span API wrapper
      span PostgreSQL
      span Redis

  li.project-card
    span.title
      a(href="https://www.dropbox.com/sh/wpqjtnw0avw6278/AAC55zKcrbVzFmL12xIT4rK2a?dl=0") Expense Manager 2
      |  (2015)
    p.desc A collaborative attempt to improve an existing app.
    div.stack
      span Product design
      span Java
      span Android

  li.project-card
    span.title
      a(href="https://www.dropbox.com/sh/0heutamg923ohx5/AADmFkWh06vkM3wDsR0P6g_ha?dl=0") Cycler
      |  (2014)
    p.desc An attempt to create a sleep cycle Android application.
    div.stack
      span Product design
      span Java
      span Android

  li.project-card
    span.title
      a(href="https://www.dropbox.com/s/xc8kjswj4fb0m0z/presentation.pdf?dl=0") Anogram
      |  (2014)
    p.desc A naive attempt to create an anonymous social network.
    div.stack
      span Product design
      span iOS
      span PHP

  li.project-card
    span.title
      a(href="https://xgm.guru/p/ufs/index") UFS Arena
      |  (2012)
    p.desc
      | A Warcraft III™ custom map (
      a(href="https://www.dropbox.com/s/odxeaq62jaqvcdc/UFS.w3x?dl=0") source
      | ).
    dev.stack
      span Product design
      span GameDev
      span cJASS
