body {
  padding: 10px;
  font-family: sans-serif;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item {
  max-width: 600px;
}

a {
  color: black;
  font-weight: bold;
}

#projects {
  max-width: 100%;
  display: inline-block;
}

#projects ul {
  margin: auto;
}

#projects li {
  text-align: left;
  list-style-type: square;
}

#projects li .li-title {
  font-size: bigger;
}

#projects li.old-project {
  opacity: 0.5;
}
