html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  width: auto;
}

.title {
  font-size: 3em;
  color: #e9573f;
}

.content {
  height: 100%;
}

.footer {
  height: 4em;
  background-color: #e9573f;
}

.footer a {
  font-size: 1.5em;
}

.footer a:link, .footer a:visited, .footer a:active, .footer a:focus {
  color: white;
}

@media (min-width: 767px) {
  .title {
    font-size: 5em;
  }

  .footer {
    height: 4em;
  }

  .footer a {
    font-size: 1.5em;
  }
}
