doctype html
html
  head
    title Hello, my name is Vlad Faust.
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Vlad Faust")
    meta(property="og:description" content="An experienced developer creating fast and beautiful applications in Crystal")
    meta(property="og:image" content="https://vladfaust.com/img/me.jpg")
    meta(property="og:url" content="https://vladfaust.com")
    script(src="bundle.js")
  body
    div.bar
    h1.top Hello, my name is Vlad Faust
    p I love beautiful code.
    p
      | I have a whole year of&nbsp;
      a(href="https://crystal-lang.org") Crystal
      |  experience. I truly believe it will become the most popular language in the near future because of its beauty, expressiveness and efficiency.
    p
      | You can contact me via&nbsp;
      a(href="mailto:mail@vladfaust.com") mail@vladfaust.com
      | ,&nbsp;
      a(href="https://github.com/vladfaust") GitHub
      | ,&nbsp;
      a(href="https://vk.com/vladfaust") VK
      | , or&nbsp;
      a(href="https://t.me/vladfaust") Telegram
      | .
    h2 My Crystal projects:
    ul.projects
      li
        a(href="https://github.com/vladfaust/prism")
          span.title Prism
          img(src="https://img.shields.io/github/stars/vladfaust/prism.svg?style=flat-square&label=Star")
        |  an expressive web framework with typed params
      li
        a(href="https://github.com/vladfaust/core.cr")
          span.title Core
          img(src="https://img.shields.io/github/stars/vladfaust/core.cr.svg?style=flat-square&label=Star")
        |  an expressive modular ORM
      li
        a(href="https://github.com/vladfaust/migrate.cr")
          span.title Migrate
          img(src="https://img.shields.io/github/stars/vladfaust/migrate.cr.svg?style=flat-square&label=Star")
        |  a database migration solution
      li
        a(href="https://github.com/vladfaust/cake-bake.cr")
          span.title Cake-Bake
          img(src="https://img.shields.io/github/stars/vladfaust/cake-bake.cr.svg?style=flat-square&label=Star")
        |  an utility shard to bake Cakefile (just like Rake tasks) into binaries
      li
        a(href="https://github.com/vladfaust/tarantool-crystal")
          span.title Tarantool
          img(src="https://img.shields.io/github/stars/vladfaust/tarantool-crystal.svg?style=flat-square&label=Star")
        |  the Tarantool driver
      li
        a(href="https://github.com/vladfaust/http-multiserver.cr")
          span.title HTTP::Multiserver
          img(src="https://img.shields.io/github/stars/vladfaust/http-multiserver.cr.svg?style=flat-square&label=Star")
        |  an utility shard to map web applications
      li
        a(href="https://github.com/vladfaust/i18n.cr")
          span.title I18n
          img(src="https://img.shields.io/github/stars/vladfaust/i18n.cr.svg?style=flat-square&label=Star")
        |  an internationalization shard
      li
        a(href="https://github.com/vladfaust/time_format.cr")
          span.title TimeFormat
          img(src="https://img.shields.io/github/stars/vladfaust/time_format.cr.svg?style=flat-square&label=Star")
        |  an utility shard to humanize time spans
      li
        a(href="https://t.me/soundmemesbot") Soundmemes Bot
        |  a Telegram bot with 2.5m+ usages
    h2 Other:
    ul.projects
      li
        a(href="https://github.com/vladfaust/unity-wakatime")
          span.title Unity Wakatime
          img(src="https://img.shields.io/github/stars/vladfaust/unity-wakatime.svg?style=flat-square&label=Star")
        |  a Unity Wakatime integration (C#)
      li
        a(href="https://play.google.com/store/apps/details?id=com.vladislavfaust.jumpinsweeties.android") Jumpin Sweeties
        |  a beautiful Android game (Java, LibGDX)
      li
        a(href="http://xgm.guru/p/ufs") UFS Arena
        |  a Warcraft 3 custom map (cJASS)
